/node_modules/.bin
/node_modules/babelify
/node_modules/browserify
/node_modules/gulp
/node_modules/gulp-imagemin
/node_modules/gulp-minify-css
/node_modules/gulp-prompt
/node_modules/gulp-rename
/node_modules/gulp-rimraf
/node_modules/gulp-sass
/node_modules/gulp-sourcemaps
/node_modules/gulp-uglify
/node_modules/gulp-util
/node_modules/gulp-webserver
/node_modules/lodash.assign
/node_modules/minimist
/node_modules/vinyl-buffer
/node_modules/vinyl-source-stream
/node_modules/watchify
.DS_Store
