.dashboardContainer {
	background-color: lightgrey;
	overflow: hidden;
	height: 97vh;
	// background: no-repeat center/100% url("../images/brushed2.jpg");

	.optionBoxContainer {
		clear: both;
		width: 65em;
		margin: 10em auto;
		margin-bottom: 1px;
		overflow: hidden;

		.optionBox {
			color: red;
			height: 30em;
			width: 18em;
			border: 0.75em solid grey;
			border-style: outset;
			float: left;
			margin: 1px 1em;
			overflow: scroll;
			text-align: center;
			// background: no-repeat center/100% url("../images/metal-frame.jpg");

			.span {
				display: block;
				// text-align: center;
				margin-top: 5.5em;
				font-size: 2em;
			}

			.charStatsContainer {
				color: black;
				width: 100%;
				border: 4px outset black;
				overflow: hidden;
				padding-top: 1px;

				.charStats {
					text-align: left;
					display: inline;
					width: 60%;
					color: green;
					margin: 1em auto;
					float: left;
					font-weight: bold;
					font-size: 1em;
					// border: 2px solid black;
				}

				.buttonContainer {
					float: right;
					padding: 2em 0.5em 2em 0.5em;
					box-sizing: border-box;

					.charStatsButton {
						width: 8em;
						display: block;
						margin: 0 auto;
					}
				}
			}
		}
	}

	.footerBox {
		display: block;
		height: 5em;
		width: 60em;
		margin: 5em auto;
		clear: both;

		.footerImage {
			display: block;
			height: 4em;
			width: 4em;
			border: 3px solid #000000;
			color: blue;
			float: left;
		}

		.footerText {
			display: block;
			width: 50em;
			color: green;
			float: left;
			margin: 0 2em;
		}
	}
}