.missionScreenContainer {

	.sectorLoreBlock {
		clear: both;
		// background-color: red;
		text-align: center;
		max-height: 192px;
		width: 100%;
		box-sizing: border-box;
		margin-bottom: 1em;
		// position: absolute;
		// top: -3%;
		// left: 25%;
		overflow: scroll;

		h3 {
			font-size: 2.5em;
			text-align: center;
		}

		.sectorLore {
			margin: 0.5em;
			margin-top: -2em;
		}
	}

	.userHUD {
		margin: 1.5em 0;
		box-sizing: border-box;
		clear: both;
		border: 3px solid black;
		background-color: lightgrey;
		background: linear-gradient(to right, black, black, grey, grey, lightgrey, white, lightgrey, grey, grey, black, black);

		.HUDDil {
			margin-left: -1em;
			text-align: center;
			width: 100%;
			padding: 0 4%;
			color: black;
			padding-top: 1em;
			height: 2em;
			font-size: 1.4em;
			font-weight: bold;
			font-family: 'Orbitron', sans-serif;
		}

		.HUDGPL {
			text-align: center;
			color: black;
			padding-top: 1em;
			height: 2em;
			// float: right;
			font-size: 1.4em;
			font-weight: bold;
			font-family: 'Orbitron', sans-serif;
		}

		.HUDButton {
			// position: absolute;
			// left: 35%;
			font-size: 1.4em;
			color: black;
			width: 100%;
			// float: left;
			height: 1em;
			background: none;
			border: none;
			font-weight: bold;
			margin-top: -0.2em;
			font-family: 'Orbitron', sans-serif;
		}

		.HUDButton:hover {
			opacity: 0.7;
		}
	}

	.sectorBlockContainer {
		// position: absolute;
		// top: 16em;
		// left: 15%;
		color: white;
		width: 100%;
		// height: 40em;
		// border: 3px solid white;
		margin: 0 auto;
		overflow: hidden;
		// background: no-repeat top/100% url("../images/space01.png");
		background-size: auto;
		clear: both;

		.missionStatBlock {
			// min-height: 16em;
			font-size: 2em;
			overflow: scroll;
			background-color: black;
			// border: 2px solid white;

			.category {
				font-weight: bold;
				color: red;
			}

			h3 {
				text-align: center;
			}

			button {
				margin: 2em 1em;
				color: white;
				border-radius: 15px;
				width: 10em;
				height: 3em;
				float: right;
				position: relative;
				bottom: 1.7em;
				background: no-repeat top/100% url("../images/blue-button.jpg");
			}

			button:hover {
				opacity: 0.7;
			}

			button:disabled {
				opacity: 0.5;
			}

			.message {
				color: red;
			}
		}

		.sectorMissionBlock {
			width: 100%;
			// height: 30%;
			box-sizing: border-box;
			float: left;
			overflow: scroll;
			background-color: black;

			.systemInfo {
				display: block;
				// position: absolute;
				// z-index: 1;
				border: 1px solid grey;

				.teaserBox {
					opacity: 1;
					// background-color: black;
					// display: none;
					// z-index: 100;
					// width: 20em;
					min-height: 12em;
					// opacity: 1;
					// background-color: black;
					// overflow: hidden;
					// border: 2px solid white;

					.missionName {
						font-size: 2em;
						font-weight: bold;
					}

					.missionTeaser {
						margin-top: 1em;
						font-size: 1em;
					}

					.lore {
						font-size: 0.5em;
					}

					.dropDownIcon {
						margin-top: 1em;
						color: white;
						border-radius: 15px;
						width: 10em;
						height: 3em;
						float: right;
						position: relative;
						bottom: 1.7em;
						background: no-repeat top/100% url("../images/blue-button.jpg");
					}

					.dropDownIcon:hover {
						opacity: 0.7;
					}
				}
			}

			.system0zTCvNPPPq {
				// left: 80%;
				// top: 70%;
			}

			// .system0zTCvNPPPq:hover {
			// 	display: block;
			// 	width: 20em;
			// 	height: 10em;

			// 	.teaserBox {
			// 		display: block;
			// 		z-index: 10;
			// 		// position: absolute;
			// 		// right: 75%;
			// 	}
			// }

			.systemUufVeQXSt3 {
				// left: 10%;
				// top: 30%;
			}

			// .systemUufVeQXSt3:hover {
			// 	display: block;
			// 	width: 20em;
			// 	height: 10em;

			// 	.teaserBox {
			// 		display: block;
			// 		z-index: 10;
			// 	}
			// }

			.systemIsYOG63CEv {
				// top: 58%;
				// left: 45%;
			}

			// .systemIsYOG63CEv:hover {
			// 	display: block;
			// 	width: 20em;
			// 	height:10em;

			// 	.teaserBox {
			// 		display: block;
			// 		z-index: 10;
			// 	}
			// }
		}
	}
}

@media screen and (min-width: 652px) {
	.missionScreenContainer {

		.sectorLoreBlock {
			clear: none;
			text-align: center;
			width: 55%;
			box-sizing: border-box;
			margin-left: 25%;
			// position: absolute;
			// top: -3%;
			// left: 25%;

			h3 {
				font-size: 2.5em;
				text-align: center;
			}

			.sectorLore {
				margin: 0.5em;
				margin-top: -2em;
			}
		}

		.userHUD {
			box-sizing: border-box;
			// position: absolute;
			// top: 23%;
			width: 100%;
			clear: both;
			border: 3px solid black;
			overflow: hidden;
			background-color: lightgrey;
			background: linear-gradient(to right, black, black, black, grey, lightgrey, white, lightgrey, grey, black, black, black);
			padding-left: 10%;
			padding-right: 10%;

			.HUDDil {
				margin-left: none;
				text-align: left;
				// padding: 0 4%;
				color: #ffffff;
				padding-top: 0.7em;
				height: 2em;
				width: 30%;
				float: left;
				font-weight: bold;
				font-family: 'Orbitron', sans-serif;
			}

			.HUDGPL {
				text-align: left;
				color: #ffffff;
				padding-top: 0.7em;
				height: 2em;
				float: right;
				font-weight: bold;
				font-family: 'Orbitron', sans-serif;
			}

			.HUDButton {
				position: absolute;
				left: 35%;
				font-size: 1.4em;
				color: #000000;
				width: 30%;
				float: left;
				height: 1em;
				background: none;
				border: none;
				font-weight: bold;
				margin-top: 0.7em;
				font-family: 'Orbitron', sans-serif;
			}

			.HUDButton:hover {
				opacity: 0.7;
			}
		}

		.sectorBlockContainer {
			// position: absolute;
			// top: 35%;
			// left: 15%;
			color: white;
			width: 71%;
			height: 40em;
			// border: 3px solid white;
			margin: 0 auto;
			overflow: hidden;
			background: no-repeat top/100% url("../images/space01.png");
			background-size: auto;
			// clear: both;

			.missionStatBlock {
				height: 40em;
				font-size: 2em;
				// overflow: scroll;

				.category {
					font-weight: bold;
					color: red;
					clear: both;
				}

				h3 {
					text-align: center;
				}

				button {
					margin: 2em 1em;
					color: white;
					border-radius: 15px;
					width: 10em;
					height: 3em;
					float: right;
					// position: relative;
					// bottom: 1.7em;
					background: no-repeat top/100% url("../images/blue-button.jpg");
				}

				button:hover {
					opacity: 0.7;
				}

				.message {
					clear: both;
					text-align: center;
					color: red;
				}
			}

			.sectorMissionBlock {
				// width: 70%;
				// height: 30%;
				box-sizing: border-box;
				float: left;
				overflow: hidden;

				.systemInfo {
					display: block;
					position: absolute;
					// z-index: 1;
					border: none;

					.teaserBox {
						display: none;
						// z-index: 100;
						width: 20em;
						// height: 10em;
						// opacity: 1;
						// background-color: black;

						.missionName {
							font-size: 2em;
							font-weight: bold;
						}

						.missionTeaser {
							margin-top: 1em;
							font-size: 1em;
						}

						.lore {
							font-size: 0.5em;
						}

						.dropDownIcon {
							margin-top: 1em;
							color: white;
							border-radius: 15px;
							width: 10em;
							height: 3em;
							float: right;
							position: relative;
							bottom: 1.7em;
							background: no-repeat top/100% url("../images/blue-button.jpg");
						}

						.dropDownIcon:hover {
							opacity: 0.7;
						}
					}
				}

				.systemInfo:hover {
					width: 20em;
				}

				.systemPLT4V1bBEv {
					//Delphi Ardu
					left: 70%;
					top: 55%;
				}

				.systemPLT4V1bBEv:hover {
					display: block;

					.teaserBox {
						display: block;
						position: absolute;
						right: 75%;
					}
				}

				.systemdOP2u1SyVo {
					//Deneb
					top: 60%;
					left: 45%;
				}

				.systemdOP2u1SyVo:hover {
					display: block;

					.teaserBox {
						display: block;
					}
				}

				.systemFRW4Uj03ly {
					//Malcor
					top: 70%;
					left: 30%;
				}

				.systemFRW4Uj03ly:hover {
					
					.teaserBox {
						display: block;
					}
				}

				.system6gNnHzBlT1 {
					//Kurl
					top: 45%;
					left: 20%;
				}

				.system6gNnHzBlT1:hover {
					
					.teaserBox {
						display: block;
					}
				}

				.system5aEWs3QJF6 {
					top: 84%;
					left: 25%;
				}

				.system5aEWs3QJF6:hover {
					
					.teaserBox {
						display: block;
					}
				}

				.system0zTCvNPPPq {
					//Beta Lankal
					left: 70%;
					top: 80%;
					// border: 2px solid white;
				}

				.system0zTCvNPPPq:hover {
					display: block;
					// width: 20em;
					// height: 10em;

					.teaserBox {
						display: block;
					// 	// z-index: 10;
						position: absolute;
						right: 75%;
					}
				}

				.systemUufVeQXSt3 {
					//Archanis
					left: 20%;
					top: 50%;
					// border: 2px solid white;
				}

				.systemUufVeQXSt3:hover {
					display: block;
					// width: 20em;
					// height: 10em;

					.teaserBox {
						display: block;
						// z-index: 10;
					}
				}

				.systemIsYOG63CEv {
					//Tor'keth
					top: 70%;
					left: 45%;
					// border: 2px solid white;
				}

				.systemIsYOG63CEv:hover {
					display: block;
					// width: 20em;
					// height:10em;

					.teaserBox {
						display: block;
						// z-index: 10;
					}
				}

				.systemvr4dkZwCSw {
					//Sherman
					top: 40%;
					left: 70%;
				}

				.systemvr4dkZwCSw:hover {

					.teaserBox {
						display: block;
						position: absolute;
						right: 75%;
					}
				}

				.system3i1OOxODRq {
					//Olmerak
					left: 25%;
					top: 80%;
				}

				.system3i1OOxODRq:hover {

					.teaserBox {
						display: block;
					}
				}

				.system2R4h32LQ6R {
					//Boradis
					top: 37%;
					left: 25%;
				}

				.system2R4h32LQ6R:hover {
					
					.teaserBox {
						display: block;
					}
				}

				.systemGWqwJfvQ0d {
					//Graveworld
					top: 40%;
					left: 40%;
				}

				.systemGWqwJfvQ0d:hover {
					
					.teaserBox {
						display: block;
					}
				}

				.systemlaWasFz526 {
					//Mintaka
					top: 60%;
					left: 60%;
				}

				.systemlaWasFz526:hover {
					
					.teaserBox {
						display: block;
						position: absolute;
						right: 35%;
					}
				}

				.systemt7MVOZYGxq {
					//Moab
					top: 50%;
					left: 30%;
				}

				.systemt7MVOZYGxq:hover {
					
					.teaserBox {
						display: block;
					}
				}

				.system6N4Ou0yWkD {
					//Edge of Neutral Zone
					top: 70%;
					left: 36%;
				}

				.system6N4Ou0yWkD:hover {
					
					.teaserBox {
						display: block;
					}
				}

				.systemvvs5WPErs7 {
					top: 80%;
					left: 45%;
				}

				.systemvvs5WPErs7:hover {
					
					.teaserBox {
						display: block;
					}
				}

				.systemoxxeVjil0H {
					//Tzenketh
					top: 40%;
					left: 22%;
				}

				.systemoxxeVjil0H:hover {
					
					.teaserBox {
						display: block;
					}
				}

				.system4SJ1GB4Iaz {
					//Trill
					top: 40%;
					left: 70%;
				}

				.system4SJ1GB4Iaz:hover {
					
					.teaserBox {
						display: block;
						position: absolute;
						right: 75%;
					}
				}

				.systemqflFVcix31 {
					//T'Lani
					top: 50%;
					left: 40%;
				}

				.systemqflFVcix31:hover {
					
					.teaserBox {
						display: block;
					}
				}

				.systemMdFRoMeIZR {
					//Chin'Toka
					top: 90%;
					left: 35%;
				}

				.systemMdFRoMeIZR:hover {
					
					.teaserBox {
						display: block;
					}
				}

				.systemomjq453MVQ {
					top: 80%;
					left: 60%;
				}

				.systemomjq453MVQ:hover {
					
					.teaserBox {
						display: block;
						position: absolute;
						right: 35%;
					}
				}
			}
		}

		.sector-2TXDd3I2v1 {
			background: no-repeat top/100% url("../images/green-space.jpg");
			background-size: cover;
		}

		.sector-YdGaQIqNke {
			background: no-repeat top/100% url("../images/red-space.jpg");
			background-size: cover;
		}

		.sector-ubjIrzTDdM {
			background: no-repeat top/100% url("../images/purple-space.jpg");
			background-size: cover;
		}
	}
}

