@import 'lobby',
		'dashboard',
		'sectorMap',
		'missionScreen',
		'createCharacter';

a {
	text-decoration: none;
}
body {
	background: no-repeat center/100% url("../images/brushed2.jpg");
}

.sectorMapIcon {
	display: block;
	height: 4em;
	width: 4em;
	border: 2px solid black;
	text-align: center;
	float: left;
	margin: 1em;
}

.dashboardIcon {
	display: block;
	height: 4em;
	width: 4em;
	border: 2px solid black;
	text-align: center;
	float: left;
	margin: 1em;
}

.userSettingsIcon {
	display: block;
	height: 4em;
	width: 4em;
	border: 2px solid black;
	text-align: center;
	float: right;
	margin: 1em;
}