.titleContainer {
  min-height: 45em; }
  .titleContainer .titlePic {
    color: #ffffff;
    text-align: center;
    margin-top: 4em;
    height: 20em; }
    .titleContainer .titlePic img {
      height: 17em;
      width: 100%; }
    .titleContainer .titlePic span {
      display: block;
      margin-top: -2em;
      background-color: #000000;
      font-size: 1.8em;
      font-family: 'Orbitron', sans-serif;
      color: #eee; }
  .titleContainer nav {
    margin-top: -3em;
    margin-bottom: 1em;
    padding: 1em;
    background-color: #000000;
    background: linear-gradient(to top, lightgrey, grey, black); }
    .titleContainer nav button {
      height: 2em;
      background-color: #000000;
      background: linear-gradient(to bottom, lightgrey, black);
      border: none;
      color: #ffffff;
      font-size: 2em;
      margin: 0 0.5em;
      border-radius: 10px;
      padding: 0 0.5em;
      font-family: 'Orbitron', sans-serif; }
    .titleContainer nav button:hover {
      background-color: #000000;
      background: linear-gradient(to top, lightgrey, black);
      border: none;
      color: #ffffff; }
  .titleContainer .dropDownBox {
    color: #ffffff;
    display: block;
    z-index: 9999;
    margin: 0 auto;
    width: 50%;
    border: 5px solid #423D3D;
    border-style: outset;
    border-radius: 10px;
    background-color: grey;
    padding: 0 2em;
    background: no-repeat center/100% url("../images/drop-box.jpg");
    background-size: auto;
    font-family: 'Orbitron', sans-serif;
    font-weight: none; }
    .titleContainer .dropDownBox label {
      display: block;
      font-size: 1.5em;
      padding: 0.5em; }
    .titleContainer .dropDownBox input {
      display: block;
      width: 99%;
      margin: 0 auto;
      font-size: 1.5em;
      background-color: green; }
    .titleContainer .dropDownBox input:-webkit-autofill {
      -webkit-box-shadow: 5px 5px 5px 1000px #423D3D inset;
      -webkit-text-fill-color: #ffffff !important; }
    .titleContainer .dropDownBox button {
      display: block;
      margin: 0.5em auto;
      height: 1.5em;
      width: 6em;
      font-family: 'Orbitron', sans-serif;
      font-weight: none;
      font-size: 1.5em;
      background-color: #000000;
      background: linear-gradient(#423D3D, #7D7072);
      border: none;
      color: #ffffff;
      border-radius: 10px;
      padding: 0 0.5em; }
    .titleContainer .dropDownBox button:hover {
      background-color: #000000;
      background: linear-gradient(#110E0F, #7D7072);
      border: none;
      color: #ffffff; }

@media screen and (min-width: 475px) {
  .titleContainer .titlePic span {
    margin: 0;
    font-size: 2em;
    position: relative;
    top: -1.8em;
    font-family: 'Orbitron', sans-serif;
    color: #7D7072;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .titleContainer nav button {
    height: 1.5em;
    padding: 0 0.5em; } }

.dashboardContainer .optionBoxContainer {
  clear: both;
  width: 80%;
  margin: 10em auto;
  margin-bottom: 1px;
  overflow: hidden; }
  .dashboardContainer .optionBoxContainer .optionBox {
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
    color: red;
    height: 10em;
    width: 93%;
    float: left;
    margin: 0.5em 1em;
    overflow: scroll;
    text-align: center;
    background: no-repeat center/100% url("../images/glass-texture.jpg"); }
    .dashboardContainer .optionBoxContainer .optionBox .span {
      display: block;
      text-align: center;
      margin-top: 1.75em;
      font-size: 2em; }
    .dashboardContainer .optionBoxContainer .optionBox .charStatsContainer {
      color: black;
      width: 98%;
      border: 4px outset black;
      overflow: scroll;
      padding-top: 1px;
      font-size: 1.2em; }
      .dashboardContainer .optionBoxContainer .optionBox .charStatsContainer .charStats {
        text-align: left;
        display: inline;
        width: 60%;
        margin: 1em auto;
        float: left;
        font-weight: bold;
        font-size: 0.85em;
        line-height: 1.1em;
        padding-top: 0.6em; }
        .dashboardContainer .optionBoxContainer .optionBox .charStatsContainer .charStats div {
          background: -webkit-linear-gradient(#fff, grey);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent; }
      .dashboardContainer .optionBoxContainer .optionBox .charStatsContainer .charStats:hover div {
        background: -webkit-linear-gradient(grey, #fff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
      .dashboardContainer .optionBoxContainer .optionBox .charStatsContainer .buttonContainer {
        float: right;
        padding: 2em 0.5em 2em 0.5em;
        box-sizing: border-box;
        color: white; }
        .dashboardContainer .optionBoxContainer .optionBox .charStatsContainer .buttonContainer .charStatsButton {
          height: 3em;
          width: 8em;
          display: block;
          margin: 0.5em auto;
          background: linear-gradient(to bottom, lightgrey, black);
          border-radius: 10px;
          color: #ffffff; }
        .dashboardContainer .optionBoxContainer .optionBox .charStatsContainer .buttonContainer .charStatsButton:hover {
          background: linear-gradient(to top, lightgrey, black); }
    .dashboardContainer .optionBoxContainer .optionBox .charStatsContainer:hover .charStats div {
      background: -webkit-linear-gradient(grey, #fff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
  .dashboardContainer .optionBoxContainer .optionBox:hover {
    border-style: inset;
    opacity: 0.8; }
  .dashboardContainer .optionBoxContainer .gradient-box {
    border: 0.2em solid transparent;
    -moz-border-image: -moz-linear-gradient(top, grey 0%, white 50%, grey 100%);
    -webkit-border-image: -webkit-linear-gradient(top, grey 0%, white 50%, grey 100%);
    border-image: linear-gradient(to bottom, grey 0%, white 50%, grey 100%);
    border-image-slice: 1; }
  .dashboardContainer .optionBoxContainer .gradient-box:hover {
    border-radius: 30px;
    border: 0.4em solid transparent;
    -moz-border-image: -moz-linear-gradient(top, lightgrey 0%, black 40%, black 60%, lightgrey 100%);
    -webkit-border-image: -webkit-linear-gradient(top, lightgrey 0%, black 40%, black 60%, lightgrey 100%);
    border-image: linear-gradient(to bottom, lightgrey 0%, black 40%, black 60%, lightgrey 100%);
    border-image-slice: 1; }

.dashboardContainer .footerBox {
  display: block;
  height: 5em;
  width: 85%;
  margin: 5em auto;
  clear: both; }
  .dashboardContainer .footerBox .footerImage {
    display: none;
    height: 4em;
    width: 4em;
    border: 3px solid #000000;
    color: blue;
    float: left; }
  .dashboardContainer .footerBox .footerText {
    display: block;
    color: green;
    margin: 0 auto;
    background: -webkit-linear-gradient(#fff, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.sectorMapContainer {
  overflow: hidden;
  min-width: 75em; }
  .sectorMapContainer .sectorMap {
    margin: 6em auto 1em auto;
    height: 35em;
    width: 60em;
    background: no-repeat center/85% url("../images/STO-Map.jpg");
    border: 2px solid white;
    background-size: cover; }
    .sectorMapContainer .sectorMap .sectorBlock {
      box-sizing: border-box;
      padding-top: 1.3em;
      display: block;
      color: white;
      border: 3px solid #ffffff;
      height: 6em;
      width: 8em;
      text-align: center;
      line-height: 1.5em;
      position: relative;
      border-radius: 10px;
      background-color: rgba(255, 255, 255, 0.2);
      font-family: 'Orbitron', sans-serif; }
    .sectorMapContainer .sectorMap .sectorBlock:hover {
      background-color: rgba(255, 255, 255, 0.4); }
    .sectorMapContainer .sectorMap .sector-FNu15SvITK {
      left: 19em;
      top: 6em; }
    .sectorMapContainer .sectorMap .sector-2TXDd3I2v1 {
      left: 33em;
      top: 7em; }
    .sectorMapContainer .sectorMap .sector-ubjIrzTDdM {
      left: 14em;
      top: 4em;
      padding-top: 2em; }
    .sectorMapContainer .sectorMap .sector-YdGaQIqNke {
      left: 40em;
      top: 10em; }
  .sectorMapContainer .dashboardButton {
    display: block;
    font-size: 1.5em;
    width: 27em;
    height: 1.8em;
    border-radius: 15px;
    background-color: lightgrey;
    margin: 0.5em auto;
    font-family: 'Orbitron', sans-serif;
    background: linear-gradient(#ffffff, #423D3D); }
  .sectorMapContainer .dashboardButton:hover {
    background: linear-gradient(#423D3D, #ffffff); }

.missionScreenContainer .sectorLoreBlock {
  clear: both;
  text-align: center;
  width: 100%;
  box-sizing: border-box; }
  .missionScreenContainer .sectorLoreBlock h3 {
    font-size: 2.5em;
    text-align: center; }
  .missionScreenContainer .sectorLoreBlock .sectorLore {
    margin: 0.5em;
    margin-top: -2em; }

.missionScreenContainer .userHUD {
  box-sizing: border-box;
  clear: both;
  border: 3px solid black;
  background-color: lightgrey;
  background: linear-gradient(to right, black, black, black, grey, lightgrey, white, lightgrey, grey, black, black, black); }
  .missionScreenContainer .userHUD .HUDDil {
    margin-left: -1em;
    text-align: center;
    width: 100%;
    padding: 0 4%;
    color: black;
    padding-top: 1em;
    height: 2em;
    font-size: 1.4em;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif; }
  .missionScreenContainer .userHUD .HUDGPL {
    text-align: center;
    color: black;
    padding-top: 1em;
    height: 2em;
    font-size: 1.4em;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif; }
  .missionScreenContainer .userHUD .HUDButton {
    font-size: 1.4em;
    color: black;
    width: 100%;
    height: 1em;
    background: none;
    border: none;
    font-weight: bold;
    margin-top: -0.2em;
    font-family: 'Orbitron', sans-serif; }
  .missionScreenContainer .userHUD .HUDButton:hover {
    opacity: 0.7; }

.missionScreenContainer .sectorBlockContainer {
  color: white;
  width: 100%;
  height: 33em;
  margin: 0 auto;
  overflow: hidden;
  background-size: auto;
  clear: both; }
  .missionScreenContainer .sectorBlockContainer .missionStatBlock {
    height: 16em;
    font-size: 2em;
    overflow: scroll; }
    .missionScreenContainer .sectorBlockContainer .missionStatBlock .category {
      font-weight: bold;
      color: red; }
    .missionScreenContainer .sectorBlockContainer .missionStatBlock h3 {
      text-align: center; }
    .missionScreenContainer .sectorBlockContainer .missionStatBlock button {
      margin: 1em 1em;
      color: white;
      border-radius: 15px;
      width: 10em;
      height: 3em;
      float: right;
      position: relative;
      bottom: 1.7em;
      background: no-repeat top/100% url("../images/blue-button.jpg"); }
    .missionScreenContainer .sectorBlockContainer .missionStatBlock button:hover {
      opacity: 0.7; }
  .missionScreenContainer .sectorBlockContainer .sectorMissionBlock {
    width: 100%;
    box-sizing: border-box;
    float: left;
    overflow: scroll;
    background-color: black; }
    .missionScreenContainer .sectorBlockContainer .sectorMissionBlock .systemInfo {
      display: block;
      z-index: 1;
      border: 1px solid grey; }
      .missionScreenContainer .sectorBlockContainer .sectorMissionBlock .systemInfo .teaserBox {
        z-index: 100;
        height: 10em; }
        .missionScreenContainer .sectorBlockContainer .sectorMissionBlock .systemInfo .teaserBox .missionName {
          font-size: 2em;
          font-weight: bold; }
        .missionScreenContainer .sectorBlockContainer .sectorMissionBlock .systemInfo .teaserBox .missionTeaser {
          margin-top: 1em;
          font-size: 1em; }
        .missionScreenContainer .sectorBlockContainer .sectorMissionBlock .systemInfo .teaserBox .lore {
          font-size: 0.5em; }
        .missionScreenContainer .sectorBlockContainer .sectorMissionBlock .systemInfo .teaserBox .dropDownIcon {
          margin-top: 1em;
          color: white;
          border-radius: 15px;
          width: 10em;
          height: 3em;
          float: right;
          position: relative;
          bottom: 1.7em;
          background: no-repeat top/100% url("../images/blue-button.jpg"); }
        .missionScreenContainer .sectorBlockContainer .sectorMissionBlock .systemInfo .teaserBox .dropDownIcon:hover {
          opacity: 0.7; }

@media screen and (min-width: 652px) {
  .missionScreenContainer .sectorLoreBlock {
    text-align: center;
    width: 55%;
    box-sizing: border-box;
    position: absolute;
    top: -3%;
    left: 25%; }
    .missionScreenContainer .sectorLoreBlock h3 {
      font-size: 2.5em;
      text-align: center; }
    .missionScreenContainer .sectorLoreBlock .sectorLore {
      margin: 0.5em;
      margin-top: -2em; }
  .missionScreenContainer .userHUD {
    box-sizing: border-box;
    position: absolute;
    top: 23%;
    width: 100%;
    clear: both;
    border: 3px solid black;
    overflow: hidden;
    background-color: lightgrey;
    background: linear-gradient(to right, black, black, black, grey, lightgrey, white, lightgrey, grey, black, black, black);
    padding-left: 10%;
    padding-right: 10%; }
    .missionScreenContainer .userHUD .HUDDil {
      margin-left: none;
      text-align: left;
      color: #ffffff;
      padding-top: 0.7em;
      height: 2em;
      width: 30%;
      float: left;
      font-weight: bold;
      font-family: 'Orbitron', sans-serif; }
    .missionScreenContainer .userHUD .HUDGPL {
      text-align: left;
      color: #ffffff;
      padding-top: 0.7em;
      height: 2em;
      float: right;
      font-weight: bold;
      font-family: 'Orbitron', sans-serif; }
    .missionScreenContainer .userHUD .HUDButton {
      position: absolute;
      left: 35%;
      font-size: 1.4em;
      color: #000000;
      width: 30%;
      float: left;
      height: 1em;
      background: none;
      border: none;
      font-weight: bold;
      margin-top: 0.7em;
      font-family: 'Orbitron', sans-serif; }
    .missionScreenContainer .userHUD .HUDButton:hover {
      opacity: 0.7; }
  .missionScreenContainer .sectorBlockContainer {
    position: absolute;
    top: 16em;
    left: 15%;
    color: white;
    width: 71%;
    height: 33em;
    border: 3px solid white;
    margin: 0 auto;
    overflow: hidden;
    background: no-repeat top/100% url("../images/space01.png");
    background-size: auto;
    clear: both; }
    .missionScreenContainer .sectorBlockContainer .missionStatBlock {
      height: 16em;
      font-size: 2em;
      overflow: scroll; }
      .missionScreenContainer .sectorBlockContainer .missionStatBlock .category {
        font-weight: bold;
        color: red; }
      .missionScreenContainer .sectorBlockContainer .missionStatBlock h3 {
        text-align: center; }
      .missionScreenContainer .sectorBlockContainer .missionStatBlock button {
        margin: 1em 1em;
        color: white;
        border-radius: 15px;
        width: 10em;
        height: 3em;
        float: right;
        position: relative;
        bottom: 1.7em;
        background: no-repeat top/100% url("../images/blue-button.jpg"); }
      .missionScreenContainer .sectorBlockContainer .missionStatBlock button:hover {
        opacity: 0.7; }
    .missionScreenContainer .sectorBlockContainer .sectorMissionBlock {
      box-sizing: border-box;
      float: left;
      overflow: scroll; }
      .missionScreenContainer .sectorBlockContainer .sectorMissionBlock .systemInfo {
        display: block;
        position: absolute;
        z-index: 1;
        border: none; }
        .missionScreenContainer .sectorBlockContainer .sectorMissionBlock .systemInfo .teaserBox {
          display: none;
          z-index: 100;
          width: 20em;
          height: 10em; }
          .missionScreenContainer .sectorBlockContainer .sectorMissionBlock .systemInfo .teaserBox .missionName {
            font-size: 2em;
            font-weight: bold; }
          .missionScreenContainer .sectorBlockContainer .sectorMissionBlock .systemInfo .teaserBox .missionTeaser {
            margin-top: 1em;
            font-size: 1em; }
          .missionScreenContainer .sectorBlockContainer .sectorMissionBlock .systemInfo .teaserBox .lore {
            font-size: 0.5em; }
          .missionScreenContainer .sectorBlockContainer .sectorMissionBlock .systemInfo .teaserBox .dropDownIcon {
            margin-top: 1em;
            color: white;
            border-radius: 15px;
            width: 10em;
            height: 3em;
            float: right;
            position: relative;
            bottom: 1.7em;
            background: no-repeat top/100% url("../images/blue-button.jpg"); }
          .missionScreenContainer .sectorBlockContainer .sectorMissionBlock .systemInfo .teaserBox .dropDownIcon:hover {
            opacity: 0.7; }
      .missionScreenContainer .sectorBlockContainer .sectorMissionBlock .system0zTCvNPPPq {
        left: 80%;
        top: 70%; }
      .missionScreenContainer .sectorBlockContainer .sectorMissionBlock .system0zTCvNPPPq:hover {
        display: block;
        width: 20em;
        height: 10em; }
        .missionScreenContainer .sectorBlockContainer .sectorMissionBlock .system0zTCvNPPPq:hover .teaserBox {
          display: block;
          z-index: 10;
          position: absolute;
          right: 75%; }
      .missionScreenContainer .sectorBlockContainer .sectorMissionBlock .systemUufVeQXSt3 {
        left: 10%;
        top: 30%; }
      .missionScreenContainer .sectorBlockContainer .sectorMissionBlock .systemUufVeQXSt3:hover {
        display: block;
        width: 20em;
        height: 10em; }
        .missionScreenContainer .sectorBlockContainer .sectorMissionBlock .systemUufVeQXSt3:hover .teaserBox {
          display: block;
          z-index: 10; }
      .missionScreenContainer .sectorBlockContainer .sectorMissionBlock .systemIsYOG63CEv {
        top: 58%;
        left: 45%; }
      .missionScreenContainer .sectorBlockContainer .sectorMissionBlock .systemIsYOG63CEv:hover {
        display: block;
        width: 20em;
        height: 10em; }
        .missionScreenContainer .sectorBlockContainer .sectorMissionBlock .systemIsYOG63CEv:hover .teaserBox {
          display: block;
          z-index: 10; } }

.createCharacterContainer {
  background-color: grey;
  min-width: 1550px; }
  .createCharacterContainer .settings {
    display: block;
    height: 6em;
    width: 6em;
    text-align: center;
    float: right;
    margin: 1em;
    background: no-repeat center/100% url("../images/cog.png");
    opacity: 0.7;
    border: none; }
  .createCharacterContainer .settings:hover {
    opacity: 1; }
  .createCharacterContainer .statsContainer {
    clear: both;
    background-color: lightgrey; }
    .createCharacterContainer .statsContainer .newCharacterForm {
      float: left;
      width: 40em;
      height: 8em;
      overflow: hidden;
      position: relative;
      left: 3em;
      top: 2em; }
      .createCharacterContainer .statsContainer .newCharacterForm label {
        float: left;
        display: block;
        clear: left;
        margin-left: 1em; }
      .createCharacterContainer .statsContainer .newCharacterForm input {
        display: block;
        width: 70%;
        float: left;
        clear: left;
        margin-left: 1em; }
      .createCharacterContainer .statsContainer .newCharacterForm button {
        float: right;
        position: relative;
        bottom: 8em;
        width: 7em;
        height: 7em;
        margin: 2em; }
    .createCharacterContainer .statsContainer .starshipBox {
      border: 3px solid black;
      height: 8.8em;
      width: 40em;
      float: right;
      position: relative;
      right: 3em;
      top: 1em;
      margin-bottom: 2em;
      overflow: scroll; }
      .createCharacterContainer .statsContainer .starshipBox .starshipStatsBox {
        background-color: grey;
        width: 75%;
        padding-top: 1px;
        overflow: hidden; }
        .createCharacterContainer .statsContainer .starshipBox .starshipStatsBox .starshipImage {
          border: 3px solid black;
          width: 3em;
          height: 3em;
          margin: 1em auto; }
        .createCharacterContainer .statsContainer .starshipBox .starshipStatsBox .starshipStatBox {
          border: 3px solid black;
          width: 5em;
          float: left;
          margin: 1em 2em; }
      .createCharacterContainer .statsContainer .starshipBox .chooseStarshipBox {
        border-left: 3px solid black;
        float: right;
        width: 25%;
        height: 8.8em;
        position: relative;
        bottom: 8.8em; }
        .createCharacterContainer .statsContainer .starshipBox .chooseStarshipBox .changeStarship {
          height: 5em;
          width: 5em;
          position: relative;
          left: 5em;
          top: 3.5em; }
    .createCharacterContainer .statsContainer .seniorStaffContainer {
      clear: both;
      overflow: hidden;
      margin-left: 2em; }
      .createCharacterContainer .statsContainer .seniorStaffContainer .personnelBox {
        border: 3px solid black;
        height: 18em;
        width: 12em;
        float: left;
        margin: 2em 0.5em;
        overflow: scroll; }
        .createCharacterContainer .statsContainer .seniorStaffContainer .personnelBox .personBox {
          background-color: red; }
        .createCharacterContainer .statsContainer .seniorStaffContainer .personnelBox .position {
          text-align: center;
          margin: 2em 0 1em 0; }
        .createCharacterContainer .statsContainer .seniorStaffContainer .personnelBox .personnelImage {
          margin: 0 auto 1em auto;
          width: 3em;
          height: 3em;
          border: 3px solid black; }
        .createCharacterContainer .statsContainer .seniorStaffContainer .personnelBox .personnelName {
          text-align: center;
          margin-bottom: 2em; }
        .createCharacterContainer .statsContainer .seniorStaffContainer .personnelBox .personnelStatBox {
          width: 5em;
          overflow: hidden;
          float: left;
          margin: 0.1em 0.1em 0.3em 0.5em; }
          .createCharacterContainer .statsContainer .seniorStaffContainer .personnelBox .personnelStatBox .stat {
            float: left; }
          .createCharacterContainer .statsContainer .seniorStaffContainer .personnelBox .personnelStatBox .box {
            padding: 0.2em;
            float: right;
            border: 2px solid black; }
      .createCharacterContainer .statsContainer .seniorStaffContainer .buttons {
        clear: both; }
        .createCharacterContainer .statsContainer .seniorStaffContainer .buttons .changePersonnel {
          margin: 0 7.2em;
          position: relative;
          top: -2em; }

.userSettingsContainer {
  color: #ffffff;
  clear: both; }

a {
  text-decoration: none; }

body {
  background: linear-gradient(to right, black, grey, white, grey, black); }

.sectorMapIcon {
  display: block;
  height: 4em;
  width: 7em;
  text-align: center;
  float: left;
  margin: 1em;
  background: no-repeat center/100% url("../images/STO-Map.jpg");
  opacity: 0.7; }

.sectorMapIcon:hover {
  opacity: 1; }

.dashboardIcon {
  display: block;
  height: 4em;
  width: 4em;
  text-align: center;
  float: left;
  margin: 1em;
  background: no-repeat center/100% url("../images/sto-chevron.png");
  z-index: 3;
  opacity: 0.7; }

.dashboardIcon:hover {
  opacity: 1; }

.userSettingsIcon {
  display: block;
  height: 4em;
  width: 4em;
  text-align: center;
  float: right;
  margin: 1em;
  background: no-repeat center/100% url("../images/cog.png");
  opacity: 0.7; }

.userSettingsIcon:hover {
  opacity: 1; }
